@import url(http://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
/*************************
*******Typography******
**************************/

@font-face {
    font-family: bf;
    src: url(../fonts/BenjaminFranklin.ttf);
}

@font-face {
    font-family: rq;
    src: url(../fonts/Requiem.ttf);
    font-weight: bold;
}

body {
    font-family: 'Dosis', sans-serif;
    font-size: 17px;
    color: #fff
}
.btn {
    border-radius: 0;
    font-family: 'Yanone Kaffeesatz', 'sans-serif';
    font-size: 20px;
    padding: 9px 23px;
}
a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}
a:focus,
a:hover {
    text-decoration: none;
    outline: none
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', 'sans-serif';
    font-weight: 300;
}
h2 {
    font-size: 36px
}
.navbar-toggle {
    margin-top: 12px
}
.navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-toggle,
.navbar-toggle:focus {
    border: 1px solid #fff;
    outline: none;
}
sup{
    font-size: 12px;
}
/*************************
*******Header CSS******
**************************/

.header-top {
    display: block;
    overflow: hidden;
    padding: 25px;
}
.main-nav {
    position: absolute;
    width: 100%;
    z-index: 999;
}
.main-nav .container {
    width: 100%
}
.social-icons a {
    font-size: 18px;
    color: #fff;
    padding-left: 20px;
}
.social-icons .fa-facebook:hover {
    color: #3B5997
}
.social-icons .fa-twitter:hover {
    color: #29C5F6
}
.social-icons .fa-google-plus:hover {
    color: #D13D2F
}
.social-icons .fa-youtube:hover {
    color: #ec5538
}
.navbar-brand {
    background-color: #FFFFFF;
    height: 90px;
    margin-bottom: 20px;
    position: relative;
    width: 297px;
}
.navbar-brand img {
    position: absolute;
    top: 8px;
    left: 45px;
}
.navbar-right {
    padding: 0 95px 0 0;
}
.navbar-right li a:focus,
.navbar-right li a {
  padding: 15px 9px;
  font-size: 15px;
  color: #040126;
  text-transform: uppercase;
  font-family: rq;
  font-weight: 400;
  text-shadow: 1px 2px 14px white;
  letter-spacing: 2px;
}
.navbar-right li a:hover,
.navbar-right .active a {
    color: #f70c0c
}
.nav>li>a:hover, .nav>li>a:focus{
    background-color: inherit;
}
.fixed-menu {
    background-color: white;
    position: fixed;
    top: 0;
}
.fixed-menu .navbar-right {
    padding: 0;
}
.fixed-menu .navbar-right li a {
    font-size: 18px;
    padding: 20px 25px;
    text-shadow: inherit;
    color: #040000;
}
.fixed-menu .navbar-right .active a {
    background-color: #fff;
    color: #f70c0c
}
.fixed-menu .navbar-brand {
    height: 60px;
    margin-top: 0;
    padding: 0;
    margin-bottom: 0;
    width: 125px;
}
.fixed-menu .navbar-brand img {
    height: 60px;
    top: 0;
}
.fixed-menu .header-top {
    display: none;
}
/*************************
*******Home CSS******
**************************/

.ximera-heading {
    font-size: 70px;
}
.aboutXimera,
#explore h1,
#explore h2{
    text-transform: inherit;
    font-size: 1.2em;
    line-height: 1.6em;
    text-align: justify;
    font-family: 'bf';
    width: 70%;
    margin-left: 15%;
    text-shadow: 1px 1px white;
    color: #732530;
}
#explore h1{
    font-size: 1.5em;
}
#explore h2{
    font-size: 1.3em;
}
#home {
    position: relative;
    overflow: hidden;
}
#main-slider img {
    width: 100%;
}
#main-slider .carousel-caption {
    color: #fff;
    top: 6%;
}
#main-slider .carousel-caption h2{
    font-size: 26px;
    font-family: bf;
    padding-top: 14px;
    color: firebrick;
    text-shadow: 0 1px 2px white;
}

#main-slider .carousel-caption h3 {
  text-shadow: none;
  font-size: 25px;
  color: maroon;
  font-weight: bold;
  font-family: 'Poiret One', cursive;
}
#main-slider .carousel-caption a {
  font-size: 27px;
  font-family: bf;
  color: firebrick;
  text-shadow: 1px 1px 15px #FFFFFF;
}
#main-slider .carousel-caption a:hover i {
    margin-left: 35px
}
#main-slider .carousel-caption a i {
    margin-left: 15px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#main-slider .carousel-indicators li {
    background-color: #1B7B98;
    border: 1px solid #1B7B98;
}
#main-slider .carousel-indicators li.active {
    background-color: #fff;
    border: 1px solid #fff;
}
.dateInfo{
  font-size: 18px;
  font-family: bf;
  color: #755025;
  text-shadow: 0 1px 2px white;
  margin-top: 18px;
}
/*************************
*******Events CSS******
**************************/

#events .halo{
    display: none;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100%;
    box-shadow: 2px 2px 2px black;
    background-color: rgba(0, 0, 0, 0.62);
    z-index: 10;
}
.event{
    display: inline-block;
    width: 225px;
    color: #920707;
}

.event-item img{
    width: 100%;
    padding: 20px;
    cursor: pointer;
    border-radius: 125px;
      -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -kthtml-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.event .info{
    display: none;
}

.event .info{
    position: fixed;
    width: 40%;
    top: 80px;
    z-index: 15;
    left: 30%;
}

.event .info img{
    width: 100%;
}

.event .info .close{
    width: 25px;
    position: absolute;
    right: -13px;
    top: -11px;
    height: 25px;
    background-color: #631111;
    border-radius: 25px;
    padding: 1px;
    color: #E8D2D2;
    opacity: 1;
}

.event .info .register{
    bottom: 3%;
    position: absolute;
    color: #9A5B0F;
    text-shadow: 2px 2px white;
    right: 45px;
    text-decoration: underline;
}

.event-item img:hover{
    box-shadow : 2px 2px 2px black;
}

.event-item.selected img:hover{
    box-shadow : 0px 0px 0px black;
}

.event-title{
    font-size: 30px;
}

.event-subtitle{
    font-size: 20px;
}


#explore {
    background-color: #FFFFFF;
    background-image: url("../images/event-bg.png");
    background-position: center bottom;
    position: relative;
    overflow: hidden;
    padding: 130px 0 100px;
    text-align: center;
    background-size: cover;
}
.watch {
    position: absolute;
    left: 0;
    top: 7%;
}
/*************************
*******schedule CSS******
**************************/
#events {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: rq;
}

#eventsSubMenu{
    top: 35px;
    position: fixed;
    padding-top: 10px;
    display: none;
    z-index: 100;
}

#eventsSubMenu:hover,
.eventNavLink:hover + #eventsSubMenu {
    display: block;
}
.eventSubMenuItem{
    padding: 10px;
    width: 180px;
    background-color: rgb(254, 251, 193);
    color: #B22222;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.38);
}
.eventSubMenuItem:hover{
    background-color: #B10303;
    color: white;
    background-image: url("../images/underline.png");
}

.eventSubMenuItem:last-child{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.eventSubMenuItem:first-child{
  border-top-right-radius: 10px;
}
#events .arrow{
    color: black;
}
#events .row{
    width: 76%;
    margin-left: 12%;
}
#events .expand{
    background-color: rgba(46, 29, 80, 0.46);
    position: relative;
    top: -85px;
    border: 0px;
    border-radius: 10px;
}

#events .expand : hover{
    background-color: black;
}

#schedule {
    background-color: #33888F;
    background-position: 50% 0;
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
    padding-top: 40px;
}
#schedule h2 {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 40px;
    margin-top: 70px;
    text-transform: uppercase;
}
.single-event {
    text-align: center;
}
.single-event h4 {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 300;
    line-height: 26px;
    margin-top: 25px;
    text-transform: uppercase;
}
.single-event h5 {
    font-size: 18px;
    font-weight: 100;
    display: block;
}
#event-carousel {
    position: relative;
}
.even-control-left,
.even-control-right {
    position: absolute;
    font-size: 24px;
    color: #fff;
    top: 0;
}
.even-control-left {
    right: 3%
}
.even-control-right {
    right: 0;
}
/*************************
*******About CSS**********
**************************/

#about {
    background-color: #75B46E;
    position: relative;
    width: 100%;
    display: flex;
}
.guitar2 {
    top: 0;
    width: 50%;
}
.guitar2 img {
    padding-top: 3%;
}
.about-content {
    width: 50%;
    background-image: url("../images/event-bg.jpg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 70px 110px;
}
#about h2 {
    margin-bottom: 23px;
}
.about-content p {
    font-size: 17px;
    font-family: 'Dosis', sans-serif;
}
#about .btn-primary {
    background-color: #137c61;
    color: #fff;
    text-transform: capitalize;
    border: none;
    margin-top: 28px;
}
#about .btn-primary:hover {
    background-color: #126d55
}
/*************************
******Twitter CSS****
**************************/

#twitter {
    background-color: #ecedef;
    background-image: url("../images/twitter-bg.jpg");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 95px 0 90px;
    overflow: hidden;
}
.twit {
    position: absolute;
    left: 0;
    top: -42%;
}
#twitter-feed .item {
    text-align: center;
}
#twitter-feed .item img {
    display: inline-block;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background-color: #c5c8ce;
    padding: 5px;
    margin-bottom: 30px;
}
#twitter-feed .item a,
#twitter-feed .item p {
    font-size: 24px;
    font-weight: 300;
    font-family: 'Yanone Kaffeesatz', 'sans-serif';
}
#twitter-feed .item p {
    color: #3D3D3D;
}
#twitter-feed .item a {
    color: #00c3ff;
}
.twitter-control-left,
.twitter-control-right {
    position: absolute;
    color: #00c3ff;
    top: 59%;
    font-size: 24px
}
.twitter-control-left {
    left: 0;
}
.twitter-control-right {
    right: 0;
}
/*************************
******Sponsor CSS****
**************************/

 #sponsers .arrow{
     color: black;
 }
#sponsor .container{
  padding-top: 47px;
}
#sponsor {
    background-color: #FFF;
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    padding-bottom: 5%;
}
.sponsorer {
    margin: 20px;
    display: inline-block;
}

.light {
    position: absolute;
    right: 0;
    bottom: 0;
}
#sponsor .col-sm-10 {
    z-index: 10;
}
#sponsor h2 {
    margin-top: 90px;
    margin-bottom: 40px;
}
#sponsor .item ul {
    font-size: 0;
    padding: 0;
}
#sponsor .item ul li {
    display: inline-block;
    list-style: none;
    width: 33.33%;
    margin-bottom: 75px;
}
#sponsor .item ul li:last-child {
    margin-right: 0
}
.sponsor-control-left,
.sponsor-control-right {
    color: #FFFFFF;
    font-size: 24px;
    position: absolute;
    top: 20%;
}
.sponsor-control-left {
    right: 12%
}
.sponsor-control-right {
    right: 10%
}
/*************************
******Map CSS****
**************************/

#map {
    position: relative;
}
#gmap {
    height: 450px;
}
/*************************
******Contact CSS****
**************************/

.contact-section {
    background-color: #E9A95F;
    background-image: url("../images/noisy-texture.png");
    background-position: center bottom;
    background-repeat: repeat;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.ear-piece {
    position: absolute;
    left: 0;
    top: 0;
}
#contact .container {
    padding-top: 47px;
}
#contact h3 {
    text-transform: inherit;
    color: #373737;
}
#contact-section h3 {
    margin-bottom: 25px
}
#contact address {
    font-size: 21px;
    color: white;
    text-shadow: 1px 1px #373737;
}
.contact-text {
    margin-bottom: 35px;
    display: block;
}
#contact-section .form-control {
    border-color: #ae750d;
    box-shadow: none;
    outline: 0 none;
    border-radius: 0;
    color: #797979;
    font-size: 18px;
}
#contact-section .form-control:focus {
    border-color: #ae750d;
}
#contact-section input {
    height: 44px;
}
#contact-section textarea {
    height: 90px;
    resize: none;
}
#contact-section .btn-primary {
    background-color: #373737;
    color: #f7ab24;
    border: none;
    font-size: 24px;
    padding: 6px 42px;
    margin-bottom: 110px;
    margin-top: 10px
}
#contact-section .btn-primary:hover {
    background-color: #212020;
    color: #fff
}
/*************************
******Footer CSS****
**************************/

#footer {
    background-color: #212121;
    background-image: url("../images/footer-bg.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    font-size: 20px;
    padding: 35px 0;
}
#footer a {
    color: #f7ab24
}
#footer a:hover {
    color: #1B7B98
}

#main-slider img.ximera-logo {
    width: 370px;
    margin: 0 auto;
    margin-top: -6px;
}
